<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>SGAWEB</display-name>
  <welcome-file-list>
    <welcome-file>faces/index.xhtml</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Faces Servlet</servlet-name>
    <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Faces Servlet</servlet-name>
    <url-pattern>/faces/*</url-pattern>
  </servlet-mapping>
  <context-param>
    <description>State saving method: 'client' or 'server' (=default). See JSF Specification 2.5.2</description>
    <param-name>javax.faces.STATE_SAVING_METHOD</param-name>
    <param-value>client</param-value>
  </context-param>
  <context-param>
    <param-name>javax.servlet.jsp.jstl.fmt.localizationContext</param-name>
    <param-value>resources.application</param-value>
  </context-param>
  <listener>
    <listener-class>com.sun.faces.config.ConfigureListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>SReporte</servlet-name>
    <servlet-class>Beans.SReporte</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SReporte</servlet-name>
    <url-pattern>/SReporte</url-pattern>
    <url-pattern>/Administrativo/tramiteDocumentario/SReporte</url-pattern>
    <url-pattern>/Administrativo/matricula/SReporte</url-pattern>
    <url-pattern>/Administrativo/contrato/SReporte</url-pattern>
    <url-pattern>/Alumno-Capacitacion/SReporte</url-pattern>
    <url-pattern>/Alumno/facturacion/SReporte</url-pattern>
    <url-pattern>/Padre/facturacion/SReporte</url-pattern>
    <url-pattern>/Padre/academico/SReporte</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <servlet-name>SarchivoBD</servlet-name>
    <servlet-class>servlet.Sarchivo</servlet-class>
  </servlet>
  <servlet-mapping>
   <servlet-name>SarchivoBD</servlet-name>
   <url-pattern>/SarchivoBD</url-pattern>
   <url-pattern>/Administrativo/mantenimiento/SarchivoBD</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>SimagenBD</servlet-name>
    <servlet-class>servlet.SimagenBD</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SimagenBD</servlet-name>
    <url-pattern>/SimagenBD</url-pattern>
    <url-pattern>/Administrativo/SimagenBD</url-pattern>
    <url-pattern>/Administrativo/matricula/SimagenBD</url-pattern>
    <url-pattern>/Administrativo/horario/SimagenBD</url-pattern>
    <url-pattern>/Administrativo/mantenimiento/SimagenBD</url-pattern>
    <url-pattern>/Administrativo/contrato/SimagenBD</url-pattern>
    <url-pattern>/Administrativo/nota/SimagenBD</url-pattern>
    <url-pattern>/Administrativo/docente/SimagenBD</url-pattern>
    <url-pattern>/Administrativo/academico/SimagenBD</url-pattern>
    <url-pattern>/Administrativo/configuracion/SimagenBD</url-pattern>
    <url-pattern>/Administrativo/campoClinico/SimagenBD</url-pattern>
    <url-pattern>/Administrativo/tramiteDocumentario/SimagenBD</url-pattern>
    <url-pattern>/Administrativo/tesoreria/SimagenBD</url-pattern>
    <url-pattern>/Administrativo/marcacion/SimagenBD</url-pattern>
    <url-pattern>/Administrativo/investigacion/SimagenBD</url-pattern>
    <url-pattern>/Administrativo/ventas/SimagenBD</url-pattern>
    <url-pattern>/Administrativo/practicas/SimagenBD</url-pattern>
    <url-pattern>/Administrativo/asistencia/SimagenBD</url-pattern>
    <url-pattern>/Administrativo/contenido/SimagenBD</url-pattern>
    <url-pattern>/Administrativo/padre/SimagenBD</url-pattern>
    <url-pattern>/Administrativo/caja/SimagenBD</url-pattern>
    <url-pattern>/Alumno/SimagenBD</url-pattern>
    <url-pattern>/Alumno/archivos/SimagenBD</url-pattern>
    <url-pattern>/Alumno/programacion/SimagenBD</url-pattern>
    <url-pattern>/Alumno/academico/SimagenBD</url-pattern>
    <url-pattern>/Alumno/matricula/SimagenBD</url-pattern>
    <url-pattern>/Alumno/mantenimiento/SimagenBD</url-pattern>
    <url-pattern>/Alumno/informes/SimagenBD</url-pattern>
    <url-pattern>/Alumno/documentos/SimagenBD</url-pattern>
    <url-pattern>/Alumno/facturacion/SimagenBD</url-pattern>
    <url-pattern>/Alumno/configuracion/SimagenBD</url-pattern>
    <url-pattern>/Alumno/foro/SimagenBD</url-pattern>
    <url-pattern>/Alumno/investigacion/SimagenBD</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SVerImagenAlumno</servlet-name>
    <servlet-class>Beans.SVerImagenAlumno</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SVerImagenAlumno</servlet-name>
    <url-pattern>/SVerImagenAlumno</url-pattern>
    <url-pattern>/Administrativo/SVerImagenAlumno</url-pattern>
    <url-pattern>/Administrativo/horario/SVerImagenAlumno</url-pattern>
    <url-pattern>/Administrativo/matricula/SVerImagenAlumno</url-pattern>
    <url-pattern>/Administrativo/contrato/SVerImagenAlumno</url-pattern>
    <url-pattern>/Administrativo/mantenimiento/SVerImagenAlumno</url-pattern>
    <url-pattern>/Administrativo/nota/SVerImagenAlumno</url-pattern>
    <url-pattern>/Administrativo/docente/SVerImagenAlumno</url-pattern>
    <url-pattern>/Administrativo/academico/SVerImagenAlumno</url-pattern>
    <url-pattern>/Administrativo/configuracion/SVerImagenAlumno</url-pattern>
    <url-pattern>/Administrativo/campoClinico/SVerImagenAlumno</url-pattern>
    <url-pattern>/Administrativo/tramiteDocumentario/SVerImagenAlumno</url-pattern>
    <url-pattern>/Administrativo/tesoreria/SVerImagenAlumno</url-pattern>
    <url-pattern>/Administrativo/marcacion/SVerImagenAlumno</url-pattern>
    <url-pattern>/Administrativo/investigacion/SVerImagenAlumno</url-pattern>
    <url-pattern>/Administrativo/ventas/SVerImagenAlumno</url-pattern>
    <url-pattern>/Administrativo/practicas/SVerImagenAlumno</url-pattern>
    <url-pattern>/Administrativo/asistencia/SVerImagenAlumno</url-pattern>
    <url-pattern>/Administrativo/contenido/SVerImagenAlumno</url-pattern>
    <url-pattern>/Administrativo/padre/SVerImagenAlumno</url-pattern>
    <url-pattern>/Administrativo/caja/SVerImagenAlumno</url-pattern>
    <url-pattern>/Alumno/SVerImagenAlumno</url-pattern>
    <url-pattern>/Alumno/archivos/SVerImagenAlumno</url-pattern>
    <url-pattern>/Alumno/programacion/SVerImagenAlumno</url-pattern>
    <url-pattern>/Alumno/academico/SVerImagenAlumno</url-pattern>
    <url-pattern>/Alumno/matricula/SVerImagenAlumno</url-pattern>
    <url-pattern>/Alumno/mantenimiento/SVerImagenAlumno</url-pattern>
    <url-pattern>/Alumno/informes/SVerImagenAlumno</url-pattern>
    <url-pattern>/Alumno/documentos/SVerImagenAlumno</url-pattern>
    <url-pattern>/Alumno/facturacion/SVerImagenAlumno</url-pattern>
    <url-pattern>/Alumno/configuracion/SVerImagenAlumno</url-pattern>
    <url-pattern>/Alumno/foro/SVerImagenAlumno</url-pattern>
    <url-pattern>/Alumno/investigacion/SVerImagenAlumno</url-pattern>
    <url-pattern>/Padre/SVerImagenAlumno</url-pattern>
    <url-pattern>/Padre/archivos/SVerImagenAlumno</url-pattern>
    <url-pattern>/Padre/programacion/SVerImagenAlumno</url-pattern>
    <url-pattern>/Padre/academico/SVerImagenAlumno</url-pattern>
    <url-pattern>/Padre/matricula/SVerImagenAlumno</url-pattern>
    <url-pattern>/Padre/mantenimiento/SVerImagenAlumno</url-pattern>
    <url-pattern>/Padre/informes/SVerImagenAlumno</url-pattern>
    <url-pattern>/Padre/documentos/SVerImagenAlumno</url-pattern>
    <url-pattern>/Docente/SVerImagenAlumno</url-pattern>
    <url-pattern>/Docente/notas/SVerImagenAlumno</url-pattern>
    <url-pattern>/Docente/datos/SVerImagenAlumno</url-pattern>
    <url-pattern>/Docente/academico/SVerImagenAlumno</url-pattern>
    <url-pattern>/Docente/portafolio/SVerImagenAlumno</url-pattern>
    <url-pattern>/Docente/foro/SVerImagenAlumno</url-pattern>
    <url-pattern>/Docente/marcacion/SVerImagenAlumno</url-pattern>
    <url-pattern>/otros/SVerImagenAlumno</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>primefaces.LEGACY_WIDGET_NAMESPACE</param-name>
    <param-value> true </param-value>
  </context-param>
</web-app>