#opciones input[type=text]{ padding:4px 3px; margin: 3px; border:solid 1px #555555; border-radius:3px; width:200px; height: 15px; text-transform: uppercase; }
#opciones  input[type=text]:focus{ box-shadow:0 0 5px #036; }
 #opciones  select{    margin: 3px;    width: 205px;    padding:4px 3px;    border:solid 1px #555555;    border-radius:3px; }
/*btn busca*/
#opciones #modales,
#opciones\:buscarP{    padding: 4px 3px;    width:80px;    background:#CAD1D8;    color:#292929;    border:none;    font-size:17px;  cursor:pointer;    border-radius: 2px;
}
#modales:hover{    background: #bdc3c7;} 
.titulo{     display: inline-block;     text-align: center;     width: 100%;     height: 20px;     padding: 4px;     margin-bottom: 10px;     font-weight: bold;     background-color: #000;     color: white; }
#frmBusqueda\:tabla td{     border-bottom:  1px solid #C9E3ED;     cursor: pointer;     font-size: 12px;      }
#frmBusqueda\:tabla tr:hover{  color: red;     font-weight: bold; }
#opciones table{     width: 100%; }
table#opciones\:rda1{ width: 30%;}
table#opciones\:tabla{ border-spacing: 0;}
#opciones div table thead tr th,
table#opciones\:tablaPadre tbody tr td,
table#opciones\:tablaHijo tbody tr td,
table#opciones\:tablaTodoPadre tbody tr td,
table#opciones\:tabla tbody tr td,
table#opciones\:tablaTodoHijo tbody tr td{      border-right:1px solid #bdc3c7;      border-bottom:1px solid #bdc3c7;      padding:4px 0;}
table#opciones\:tablaPadre tbody tr  input[type=submit],
table#opciones\:tablaHijo tbody tr input[type=submit],
table#opciones\:tablaTodoPadre tbody tr input[type=submit],
table#opciones\:tablaTodoHijo tbody tr input[type=submit],
table#opciones\:tabla tbody tr input[type=submit]{      border:none;      background: #bdc3c7;      color:#292929;      font-weight: bold;      width: 90%;      padding: 3px;      margin:0 auto;display: block;      cursor:pointer;}
table#opciones\:tablaPadre tbody,
table#opciones\:tablaHijo tbody,
table#opciones\:tablaTodoPadre tbody,
table#opciones\:tablaTodoHijo tbody,
table#opciones\:tabla tbody{    margin-top: 5px;}
table#opciones\:tablaPadre tbody tr,
table#opciones\:tablaHijo tbody tr,
table#opciones\:tablaTodoPadre tbody tr,
table#opciones\:tablaTodoHijo tbody tr,
table#opciones\:tabla tbody tr{}
table#opciones\:tablaPadre tbody tr td:nth-child(2),
table#opciones\:tablaHijo tbody tr td:nth-child(2),
table#opciones\:tablaTodoPadre tbody tr td:nth-child(2),
table#opciones\:tablaTodoHijo tbody tr td:nth-child(2),
table#opciones\:tabla tbody tr td{      text-align: center;      padding: 4px;}
table#opciones\:tablaPadre tbody tr td:nth-child(3),
table#opciones\:tablaHijo tbody tr td:nth-child(3),
table#opciones\:tablaTodoPadre tbody tr td:nth-child(3),
table#opciones\:tablaTodoHijo tbody tr td:nth-child(3){ text-align: left;}
table#opciones\:tablaPadre tbody tr td,
table#opciones\:tablaHijo tobdy tr td,
table#opciones\:tablaTodoPadre tobdy tr td,
table#opciones\:tablaTodoHijo tobdy tr td,
table#opciones\:tabla tobdy tr td{ text-align: center}
#opciones div table thead tr th{   padding: 2px 0px;    background: #2989d8; /* Old browsers */   }




